# Подгружаем библиотеки и данные

debug_mode служит индикатором, что работа с ноутбуком идет в режиме разработчика. В этом режиме для ускорения работы будут загружаться не все записи из датасета.

In [1]:
import pandas as pd
import numpy as np
from DC_tools import DS_clean
from usfull_tools import reduce_mem_usage
%matplotlib inline
KAGGLE_PREFIX = ''

debug_mode = True
pd.options.display.max_columns = None

#KAGGLE_DIR = 'C:/Users/Acer/PycharmProjects/Pipeline-0.1/input_pubg-finish-placement-prediction/';KAGGLE_PREFIX = '_V2';target_column = 'winPlacePerc';
KAGGLE_DIR = 'C:/Users/Acer/PycharmProjects/Pipeline-0.1/input_titanic/';target_column = 'Survived';
#KAGGLE_DIR = '../input/'

if debug_mode == True:
    train = pd.read_csv(KAGGLE_DIR + 'train' + KAGGLE_PREFIX + '.csv', nrows=100000)
    test = pd.read_csv(KAGGLE_DIR + 'test' + KAGGLE_PREFIX + '.csv', nrows=100000)
else:
    train = pd.read_csv(KAGGLE_DIR + 'train' + KAGGLE_PREFIX + '.csv')
    test = pd.read_csv(KAGGLE_DIR + 'test' + KAGGLE_PREFIX + '.csv')

train = reduce_mem_usage(train)
test = reduce_mem_usage(test)

train, test, DS = DS_clean(train, test, target_column)
train.to_csv(KAGGLE_DIR + 'train' + KAGGLE_PREFIX + '_cleand.csv')

drop as ID column:  PassengerId
Age : NAN  20.0 %  replaced  28.0
Fare : NAN  0.0 %  replaced  14.45
Embarked : NAN  0.0 %  replaced  S

In [2]:
test.shape

(418, 14)

In [3]:
train.shape

(891, 15)

In [4]:
DS.shape

(1309, 15)

In [6]:
train.head()

,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Age_nan,Age_median,Fare_nan,Fare_median,Cabin_nan,Cabin_isnull,Embarked_nan,Embarked_idxmax
0,0.0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,22.0,22.0,7.250000,7.250000,NaN,True,S,S
1,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,38.0,38.0,71.312500,71.312500,C85,False,C,C
2,1.0,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,26.0,26.0,7.925781,7.925781,NaN,True,S,S
3,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,35.0,35.0,53.093750,53.093750,C123,False,S,S
4,0.0,3,"Allen, Mr. William Henry",male,0,0,373450,35.0,35.0,8.046875,8.046875,NaN,True,S,S