In [1]:
import pandas as pd
import numpy as np
from DP_tools import DS_dummies, DS_numerical_feature_generator
from usfull_tools import load_DS
%matplotlib inline

from set_vars import KAGGLE_PREFIX, debug_mode, KAGGLE_DIR, target_column

pd.options.display.max_columns = None

train, test = load_DS(debug_mode, KAGGLE_DIR, KAGGLE_PREFIX, '_cleand.csv')

# train, test = DS_numerical_feature_generator(train, test, target_column)
# train, test = DS_dummies(train, test, target_column)

train.to_csv(KAGGLE_DIR + 'train' + KAGGLE_PREFIX + '_prepare.csv', index=False)
test.to_csv(KAGGLE_DIR + 'test' + KAGGLE_PREFIX + '_prepare.csv', index=False)

In [2]:
#debug
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250000,1.0,S
1,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.312500,0.0,C
2,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925781,1.0,S
3,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.093750,0.0,S
4,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.046875,1.0,S